<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Need access to camere to take photos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need access to microphone to take video with voice</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access to library to add images</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.456500962738-nf0lt2ihtg05ssgfu8alrj243sq3qta1</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>456500962738-nf0lt2ihtg05ssgfu8alrj243sq3qta1.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter.ttf</string>
	</array>
    
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
</dict>
</plist>
